<footer class="bg-black ph3 pv4 white" style="background-color:rgb(7, 59, 7);">

	<div class="mw7 center pt3" >

		<div class="measure-narrow center mb4" >

			<p class="f3 lh-title light-gray b tc mb2">Subscribe to get my latest content</p>
			<p class="center">I won't send you spam. Unsubscribe at any time.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div class="center">
					<ul>
						<h3 class="primary center">Schedule An Appointment</h3>
						<ul class="mhn3">
								{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
								{{ partial "social-icon" (dict "link" "https://www.twitter.com/Oluwadaniemoses/" "svg" "icons-twitter") }}
								{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
								{{ partial "social-icon" (dict "link" "#" "svg" "icons-linkedin") }}
							</ul>
					</ul>
					
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<!-- <script id="dsq-count-scr" src="//www-owoniyiadedoyin-com.disqus.com/count.js" async></script> -->


</body>

</html>
