<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider-black relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/logo-via-logohub.png" alt="Owo's logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b white">
		<li><a href="/products" class="pa3 no-underline db">Books</a></li>
		<!----<li><a href="/post" class="pa3 no-underline db">Blog</a></li>-->
		<li><a href="/values" class="pa3 no-underline db">Talks</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
